html{
    width: fit-content;
    height: fit-content;
}
body{
    background-image: url('/images/original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 80%;
    opacity: 1;
}
.about{
    color: white;
    /* margin-bottom: 30%; */
    margin-top: 5%;
    padding-top: 1%;
}
/* .description{
    color: white; */

}
a{
    color: white;
    /* display: inline;
    justify-content: space-evenly;*/
    margin-left: 10%;
    text-decoration: none;
}    
.landing{
    /* justify-content: space-between; */
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(6, 6, 46);
    color: silver;
    padding-bottom: 3%;
    font-style: italic;
} 
.header{
    /* padding: 40px; */
    text-align: center;
    /* background-color: rgb(6, 6, 46); */
    color: silver;
    
}
} 
#logo {
    margin-left: 30%;
    float: right;
    
}
h1{
    color: goldenrod;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-family:cursive;
}      
