footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(6, 6, 46);
    color: silver;
    padding-bottom: 3%;
}
.header{
    padding: 40px;
    text-align: center;
    background-color: rgb(6, 6, 46);
    color: silver;
}
.login{
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
#icon{
    float: left;
    height: 40vh;
}