html{
    background-image: url(./images/blue-white-gradient-abstract-background_53876-60241.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merienda', cursive;
}
form{ 
    /* background-image: url(./images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;  */
    /* background-color: white; */
    margin-right:15%;  
    font-family: 'Merienda', cursive; 
    text-align: center;
    /* backface-visibility:hidden; */
    background-color: rgb(6, 6, 46);
    border-radius: 2px;
    padding-bottom: 2%;
    box-shadow: 5px 5px 5px rgb(6, 6, 46);
    /* opacity: 0.5; */
}
form::before{
    
}
#signUp{
    margin-left:20%; 
    margin-top: 7%; 
    margin-right:20%; 
    height: 56vh;
    /* background-color: rgb(6, 6, 46 ); */
    box-shadow: ;
}
#tech{
    float: left;
    margin-right:6%;
    height: 60vh; 
}
nav a{
   
        color:white;
        justify-content: space-between;
        text-decoration: none;
        font-size: 150%;
        /* padding-left:10%; */
        margin-left: 15%;

}
#header{
    background-color: rgb(6, 6, 46); 
    color: white;
    /* padding-left: 20%; */
    display: block;
    padding-bottom: 2%;
}
#head{
    text-align: center;
}
span{
    color:  rgb(6, 6, 46);  
}
footer{
    background-color:  rgb(6, 6, 46);  
    color: white;
    text-align: center;
    padding-top: 3px;
    margin-top: 4%;
}
input{
    /* opacity: 0.5; */
    color:  rgb(6, 6, 46); 
    /* background-color: rgb(6, 6, 46); */
    /* background-color: rgb(17, 86, 212); */
    font-family: 'Merienda', cursive;   
    border-radius: 500px;
    text-align: center;
    height: 4vh;
    /* font-size: 150%; */
    width: 30%;
   
    
}
button{
    background-color: rgb(6, 6, 46);
    color: white;
    font-family: 'Merienda', cursive;
    border-radius: 200px;
    width: 20%;   
    margin-bottom:10%;
}