html{
    background-image: url(/images/AB-GD-016-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#programming{
    background-color: white;
    height: 60vh;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 3px grey;
}
#programming img{
    height: 60vh;
    float: left;
    border-radius: 5%;
    margin-right: 10%;
}
#frameworks{

    background-color: white;
    height: 60vh;
    margin-bottom: 10%;
    text-align: right;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 3px grey;
}
#frameworks img{
    height: 60vh;
    float:right;
    width:40%;
    margin-left: 10%;
    border-radius: 5%;
    
}
#units{
    background-color: white;
    height: 60vh;
    margin-bottom: 10%;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 3px grey;

}
#units img{
    height: 60vh;
    float: left;
    width: 40%;
    margin-right: 10%;
    border-radius: 5%;
}
#navigation{
    /* background-color: blue;
    opacity: 0.5; */

}
#navigation a{
    color: white;
    font-size: 150%;
    margin-left: 15%;
    text-decoration: none;
}