* {
    font-family: 'Merienda', cursive;
}

.tech {
    background-image: url("/images/Poorer\ students.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.tech>h1 {
    color: white;
    padding-top: 10%;
    font-family: 'Merienda', cursive;
    
}

.tech>p {
    text-align: center;
    font-size: 2em;
    color: black;
}

#navigation {
    background-color: rgb(6, 6, 46);
    padding-bottom: 2%;

}

#navigation a {
    color: white;
    font-size: 150%;
    margin-left: 15%;
    text-decoration: none;
}

.img {
    float: right;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: 3%;
}

.about {
    color: black;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 200px;
    font-size: 1.3em;
    box-shadow: 5px 5px 5px 3px grey;
    height: 40vh;
    margin-bottom: 10%;
    border-radius: 10px;
}

a {
    color: black;
    margin-left: 10%;
    text-decoration: none;
}

footer {
    padding-top: 200px;
    text-align: center;
    padding: 3px;
    background-color: rgb(6, 6, 46);
    color: black;
    padding-bottom: 3%;
    font-style: italic;

}

footer p {
    color: white;
}

.header {
    /* padding: 40px; */
    text-align: center;
    /* background-color: rgb(6, 6, 46); */
    color: silver;

}

#logo {
    margin-left: 30%;
    float: right;

}

h1 {
    color: goldenrod;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-family: cursive;
}