html{
    background-image: url(./images/blue-white-gradient-abstract-background_53876-60241.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merienda', cursive;
}
form{ 
    background-image: url(./images/imageedited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:15%;  
    font-family: 'Merienda', cursive; 
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    padding-bottom: 2%;
}

#signUp{
    margin-left:10%; 
    margin-top: 7%; 
    margin-right:30;
    height: 56vh;
  
}
#tech{
    float: left;
    margin-right:6%;
    height: 60vh; 
}
nav a{
   
        color:white;
        justify-content: space-between;
        text-decoration: none;
        font-size: 150%;
        margin-left: 15%;

}
#header{
    background-color: rgb(6, 6, 46); 
    color: white;
    display: block;
    padding-bottom: 2%;
}
#head{
    text-align: center;
}
span{
    color:  rgb(6, 6, 46);  
}
footer{
    background-color:  rgb(6, 6, 46);  
    color: white;
    text-align: center;
    padding-top: 3px;
    margin-top: 4%;
}
input{
    color: black;
    font-family: 'Merienda', cursive;   
    border-radius: 500px;
    text-align: center;
    height: 4vh;
    width: 30%; 
    
}
button{
    background-color: rgb(6, 6, 46);
    color: white;
    font-family: 'Merienda', cursive;
    border-radius: 200px;
    width: 20%;   
    margin-bottom:10%;
}